@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

header {
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgb(244, 163, 24);
  z-index: 2;
}
header a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 26px;
  font-weight: 600;
  vertical-align: top;
  margin-left: 90px;
}
header nav {
  margin-top: 20px;
}
header img {
  height: 82px;
  margin-left: 25px;
}
header #active {
  color: white;
}

#start {
  height: 400px;
  width: 100%;
  background-image: url(/img/NES-featured-image.avif);
  background-size: cover;
  top: 80px;
  position: relative;
}
#start p {
  position: absolute;
  font-size: 50px;
  text-align: center;
  color: rgb(244, 163, 24);
  margin-top: 180px;
  margin-left: 520px;
}

#slogan {
  width: 1000px;
  height: 400px;
  background-color: rgb(244, 163, 24);
  margin-left: 250px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#slogan p {
  margin-top: 80px;
  font-size: 23px;
  font-weight: 600;
  color: black;
  margin-left: 35px;
  margin-right: 35px;
}
#slogan #list {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
}
#slogan .benefits {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}
#slogan ul {
  margin-left: 50px;
}

#registration {
  height: 300px;
  width: 600px;
  background-color: rgb(244, 163, 24);
  margin-left: 430px;
  position: relative;
  margin-top: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#registration form {
  margin-top: 50px;
  position: absolute;
  margin-left: 100px;
}
#registration form #submit {
  margin-left: 90px;
  height: 30px;
  width: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#registration form label {
  font-weight: 600;
  font-size: 24px;
}
#registration form input {
  width: 200px;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h2 {
  font-size: 50px;
  margin-left: 470px;
  margin-top: 50px;
}

#end {
  width: 100%;
  height: 300px;
  background-color: rgb(212, 140, 15);
  position: relative;
}
#end img {
  height: 100px;
  margin-left: 75px;
  margin-top: 70px;
  position: absolute;
  display: inline;
}
#end #lists {
  position: absolute;
  margin-top: 70px;
  margin-left: 275px;
}
#end #universitys {
  margin-left: 475px;
  position: absolute;
  margin-top: 70px;
}
#end p {
  color: lightgray;
}
#end li {
  padding-bottom: 25px;
  font-weight: 350;
}
#end a {
  text-decoration: none;
  color: lightgray;
  font-size: 16px;
  font-weight: 600;
}
#end #gmail {
  margin-left: 1000px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 70px;
  position: absolute;
  color: lightgray;
}
#end #number {
  margin-left: 1000px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 90px;
  position: absolute;
  color: lightgray;
}

#partners {
  width: 100%;
  height: 300px;
  background-color: rgb(244, 163, 24);
  position: relative;
  margin-top: 50px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
#partners a {
  display: inline;
}
#partners img {
  width: 200px;
  height: 200px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#unis {
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 300px;
}

h1 {
  font-size: 50px;
  margin: 80px;
  margin-left: 600px;
}

#volleyball {
  background-image: url(/img/Brasil_vence_a_França_no_vôlei_masculino_1037987-15.08.2016_ffz-6369.jpg);
  width: 300px;
  height: 150px;
  background-size: cover;
  position: relative;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 70px;
  border-style: solid;
  border-color: rgb(244, 163, 24);
  border-width: 10px;
}
#volleyball p {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  margin-left: 20px;
  margin-top: 80px;
  color: yellow;
}

#newbuilding {
  background-image: url(/img/istockphoto-94732796-612x612.jpg);
  width: 300px;
  height: 150px;
  background-size: cover;
  position: relative;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 70px;
  border-style: solid;
  border-color: rgb(244, 163, 24);
  border-width: 10px;
}
#newbuilding p {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  margin-left: 50px;
  margin-top: 80px;
  color: yellow;
}

#tables {
  background-image: url(/img/images.jpg);
  width: 300px;
  height: 150px;
  background-size: cover;
  position: relative;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 70px;
  border-style: solid;
  border-color: rgb(244, 163, 24);
  border-width: 10px;
}
#tables p {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  margin-left: 50px;
  margin-top: 80px;
  color: yellow;
}

#dd {
  margin-left: 100px;
}

#partners img:hover {
  width: 220px;
  height: 220px;
  transition: 0.5s;
}

#end a:hover {
  font-size: 24px;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: lightgray;
  font-size: 34px;
  transition: 0.5s;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  nav > a {
    display: none;
  }
  header {
    height: 70px;
    width: 425px;
  }
  header img {
    height: 70px;
    margin-left: 30px;
  }
  #start {
    height: 400px;
    width: 425px;
    top: 70px;
    background-size: cover;
  }
  #start > p {
    position: absolute;
    font-size: 35px;
    text-align: center;
    color: rgb(244, 163, 24);
    padding-top: 150px;
    margin: 0;
    padding-left: 70px;
    font-weight: 700;
  }
  #slogan {
    top: 0px;
    width: 425px;
    margin: 0;
    height: 700px;
  }
  #slogan .benefits {
    font-size: 16px;
    margin-top: 40px;
  }
  #slogan #list {
    font-size: 16px;
  }
  #slogan > p {
    padding-top: 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  h1 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 110px;
  }
  #volleyball {
    width: 350px;
    height: 200px;
    margin-left: 20px;
  }
  #volleyball p {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 15px;
  }
  #newbuilding {
    width: 350px;
    height: 200px;
    margin-left: 20px;
  }
  #newbuilding p {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 15px;
  }
  #tables {
    width: 350px;
    height: 200px;
    margin-left: 20px;
  }
  #tables p {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 15px;
  }
  #unis {
    font-size: 40px;
    margin-left: 50px;
  }
  #partners {
    width: 400px;
    height: 1200px;
    margin-left: 10px;
  }
  #partners img {
    margin-left: 100px;
  }
  #end {
    width: 425px;
    height: 600px;
  }
  #end img {
    height: 70px;
    margin-left: 20px;
  }
  #end a {
    font-size: 20px;
  }
  #end #lists {
    margin-left: 150px;
  }
  #end #universitys {
    display: inline;
    margin-left: 150px;
    margin-top: 300px;
  }
  #end p {
    font-size: 20px;
  }
  #gmail {
    display: none;
  }
  #number {
    display: none;
  }
}
@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  nav a {
    display: none;
  }
  header {
    width: 768px;
  }
  #start {
    width: 768px;
  }
  #start p {
    margin-left: 200px;
  }
  #slogan {
    margin-left: 0px;
    width: 768px;
    height: 420px;
  }
  h1 {
    margin-left: 280px;
  }
  #volleyball {
    width: 600px;
    height: 200px;
    margin-left: 34px;
  }
  #volleyball p {
    font-size: 50px;
  }
  #newbuilding {
    width: 600px;
    height: 200px;
    margin-left: 34px;
  }
  #newbuilding p {
    font-size: 50px;
  }
  #tables {
    width: 600px;
    height: 200px;
    margin-left: 34px;
  }
  #tables p {
    font-size: 50px;
  }
  #partners {
    width: 768px;
    height: 200px;
  }
  #partners img {
    height: 90px;
    width: 90px;
    display: inline-block;
    margin-left: 100px;
  }
  #end {
    width: 768px;
  }
  #unis {
    margin-left: 250px;
  }
  #gmail {
    display: none;
  }
  #number {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */