 header{
   top: 0;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgb(244, 163, 24);
    z-index: 2;
  a{
   text-decoration: none;
   color:black;
   font-size: 26px;
   font-weight: 600;
   vertical-align: top;
   margin-left:95px;
  }
  nav{
   margin-top: 20px;
  }
   img{
      height: 82px;
      margin-left: 75px;
   }
   #active{
      color: white;
   }
}
#start{
   height: 400px;
   width: 100%;
   background-image: url(/img/NES-featured-image.avif) ;
   background-size:cover;
   top: 80px;
   position: relative;
   
   p{
      position: absolute;
      font-size: 50px;
      text-align: center;
      color: rgb(244, 163, 24);
      margin-top: 180px;
      margin-left: 320px;
   }
}
#slogan{
   width: 1000px;
   height: 400px;
   background-color: rgb(244, 163, 24);
   margin-left: 250px;
   position: relative;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   p{
      margin-top: 80px;
      font-size: 23px;
      font-weight: 600;
      color: black; 
      margin-left: 35px;
      margin-right: 35px;
   }
   #list{
      font-size: 20px;
      margin-top: 15px;
      font-weight: 700;
      
   }
   .benefits{
      font-size: 18px;
      margin-top: 15px;
      font-weight: 600;
   }
   ul{
      margin-left: 50px;
   }
}
#registration{
   
   height: 300px;
   width: 600px;
   background-color: rgb(244, 163, 24);
   margin-left: 430px;
   position: relative;
   margin-top: 30px;
   border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
   form{
   margin-top: 50px;
   position: absolute;
   margin-left: 100px;
   #submit{
      margin-left:90px;
      height: 30px;
      width: 70px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
   }
   label{
      font-weight: 600;
      font-size: 24px;
   }
   input{
      width: 200px;
      height: 30px;
       border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
   }
}
}
h2{
   font-size: 50px;
   margin-left: 470px;
   margin-top: 50px;
}

.info{
   width: 900px;
   height: 400px;
   margin-top: 40px;
   background-color: rgb(244, 163, 24);
   margin-left: 20px;
   position: relative;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   display: inline-block;
   p{
   font-size: 25px;
   font-weight: 500;
   position: absolute;
   margin: 30px;
   }
}
.portrait{
   width: 300px;
   height: 400px;
   display: inline-block;
   margin-left: 150px;
#schoolimage{
   width: 300px;
   height: 350px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
#nameof{
   margin-left: 40pxpx;
   font-size: 24px;
}

   
}
#end{
   width: 100%;
   height: 300px;
   background-color: rgb(212, 140, 15);
   position: relative;
   img{
      height: 100px;
      margin-left: 75px;
      margin-top: 70px;
      position: absolute;
      display: inline;
   }
   #lists{
      position: absolute;
      margin-top: 70px;
      margin-left: 275px;
   }
   #universitys{
      margin-left: 475px;
      position: absolute;
      margin-top: 70px;
   }
   p{
      color: lightgray;
   }
 li{
       padding-bottom: 25px;
    font-weight: 350;
 }
a{
      text-decoration: none;
      color:lightgray;
      font-size: 16px;
      font-weight: 600;
      
    }
    #gmail{
      margin-left: 1000px;
      font-size: 16px;
      font-weight: 700;
      margin-top: 70px;
      position: absolute;
      color: lightgray;
    }
    #number{
      margin-left: 1000px;
      font-size: 16px;
      font-weight: 700;
      margin-top: 90px;
      position: absolute;
      color: lightgray;
    }
   }
   
   #partners{
      width: 100%;
      height: 300px;
      background-color: rgb(244, 163, 24);
      position: relative;
      margin-top: 50px;
      border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
      a{
         display: inline;
      }
      img{
         width: 200px;
         height: 200px;
         margin-left: 150px;
       margin-top: 50px;
        margin-bottom: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
   }
   #unis{
      font-size: 50px;
      font-weight: 600;
      margin-top: 50px;
      margin-left: 300px;
   }
   h1{
    font-size: 50px;
    margin: 80px;
    margin-left: 600px;
   }
   
      
      #volleyball{
         background-image: url(/img/Brasil_vence_a_França_no_vôlei_masculino_1037987-15.08.2016_ffz-6369.jpg) ;
         width: 400px;
      height: 200px;
      background-size:cover;
      position: relative;
      display: inline-block;
      border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-left: 70px;
   border-style: solid;
   border-color: rgb(244, 163, 24);
   border-width: 10px;
      p{
         font-size: 24px;
         font-weight: 700;
         position: absolute;
         margin-left: 50px;
         margin-top: 80px;
         color: yellow;
         
      }
      }
      #newbuilding{
         background-image: url(/img/istockphoto-94732796-612x612.jpg) ;
         width: 400px;
      height: 200px;
      background-size:cover;
      position: relative;
      display: inline-block;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-left: 70px;
      border-style: solid;
   border-color: rgb(244, 163, 24);
   border-width: 10px;
      p{
         font-size: 24px;
         font-weight: 700;
         position: absolute;
         margin-left: 50px;
         margin-top: 80px;
         color: yellow;
         
      }
      }
      #tables{
         background-image: url(/img/images.jpg) ;
         width: 400px;
      height: 200px;
      background-size:cover;
      position: relative;
      display: inline-block;
      border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-left: 70px;
   border-style: solid;
   border-color: rgb(244, 163, 24);
   border-width: 10px;
      p{
         font-size: 24px;
         font-weight: 700;
         position: absolute;
         margin-left: 50px;
         margin-top: 80px;
         color: yellow;
         
      }
      }
      
   #begining{
      margin-left: 600px;  
      font-size: 50px; 
      font-weight: 700;
      margin-top: 100px;
   }
   #achivments{
      margin-left: 600px;  
      font-size: 50px; 
      font-weight: 700;
   }
   .info2{
   width: 700px;
   height: 400px;
   margin-top: 60px;
   background-color: rgb(244, 163, 24);
   margin-left: 450px;
   position: relative;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   display: inline-block;
   p{
   font-size: 25px;
   font-weight: 500;
   position: absolute;
   margin: 30px;
   }
}
.portrait2{
   width: 300px;
   height: 400px;
   display: inline-block;
   margin-left: 20px;
   
}
#giving{
   width: 700px;
   height: 400px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}