 header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: grey;
    z-index: 2;
  a{
   text-decoration: none;
   color:black;
   font-size: 26px;
   font-weight: 600;
   vertical-align: top;
   margin-left:95px;
  }
  nav{
   margin-top: 20px;
  }
   img{
      height: 82px;
      margin-left: 75px;
   }
   #active{
      color: white;
   }
}
#start{
   height: 400px;
   width: 100%;
   background-image: url(/img/NES-featured-image.avif) ;
   background-size:cover;
   top: 80px;
   position: relative;
   
   p{
      position: absolute;
      font-size: 50px;
      text-align: center;
      color: black;
      margin-top: 180px;
      margin-left: 320px;
   }
}
#slogan{
   width: 1000px;
   height: 340px;
   background-color: grey;
   margin-left: 250px;
   position: relative;
   p{
      margin-top: 80px;
      font-size: 23px;
      font-weight: 600;
      color: black; 
      margin-left: 35px;
      margin-right: 35px;
   }
   #list{
      font-size: 20px;
      margin-top: 15px;
      font-weight: 700;
   }
   .benefits{
      font-size: 18px;
      margin-top: 15px;
      font-weight: 600;
   }
   ul{
      margin-left: 40px;
   }
}
#registration{
   height: 500px;
   width: 500px;
   background-color: grey;
   margin-left: 400px;
}
h1{
   font-size: 50px;
   margin-left: 470px;
   margin-top: 50px;
}
form{
   margin-top: 50px;
 
   
}
