$mobile: 'screen and (min-device-width: 320px) and (max-device-width: 767px)';
$desktop: 'screen and (min-device-width: 1025px)'; 
$tablet: 'screen and (min-device-width: 767px) and (max-device-width: 1024px)';