nav{
    a{
        display: none;
    }
}
header{
    width: 425px;
     img{
        height: 70px;
        margin-top: 25px;
        margin-left: 30px;
         position: absolute;
    }
}
#begining{
    margin-left: 100px;
}
.info{
    width: 425px;
    height: 600px;
    margin-left: 0px;
}
.portrait{
    margin-top: 30px;
    margin-left: 50px;
}
#achivments{
    margin-left: 70px;
}
.portrait2{
    margin-left: 10px;
    height: 250px;
    #giving{
     margin-top: 50px;
    width: 400px;
    height: 250px;
    }
}
.info2{
        width: 425px;
    height: 580px;
    margin-left: 0px;
    margin-bottom: 30px;
}
#gmail{
    display: none;

}
#number{
    display: none;
}
#end{
    height: 500px;
    width: 425px;
    #universitys{
    margin-left: 270px;
    position: absolute;
    margin-top: 270px;
    
    }
}
i{
    display: inline-block !important;
    font-size: 50px !important;
    color: white;
    margin-top: 20px;
    margin-left: 330px;
}