 nav > a{
    display: none;
}
header{
    height: 70px;
    width: 425px;
    img{
        height: 70px;
        
        margin-left: 30px;
    }
    
}
#start{
        height: 400px;
        width: 425px;
        top: 70px;
        background-size: cover

    }
    #start > p{
                position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(244, 163, 24);
        padding-top: 150px;
        margin: 0;
        padding-left: 70px;
        font-weight: 700;
    }

    #slogan{
        top: 0px;
        width: 425px;
        margin: 0;
        height: 700px;
        
        .benefits{
            font-size: 16px;
            margin-top: 40px;
        }
        #list{
            font-size: 16px;
        }
    }
    #slogan > p{
        padding-top: 20px;
            font-size: 15px;
            margin-top:10px;
    }
h1{
    font-size: 40px;
    margin-top: 100px;
    margin-left: 110px;
    
}
#volleyball{
    width: 350px;
    height: 200px;
    margin-left: 20px;
    p{
        font-size: 50px;
        margin-top: 20px;
        margin-left: 15px;
    }
}
#newbuilding{
    width: 350px;
    height: 200px;
    margin-left: 20px;
    p{
        font-size: 50px;
        margin-top: 20px;
        margin-left: 15px;
    }
}
#tables{
    width: 350px;
    height: 200px;
    margin-left: 20px;
    p{
        font-size: 50px;
        margin-top: 20px;
        margin-left: 15px;
    }
}
#unis{
    font-size: 40px;
    margin-left: 50px;
}
#partners{
    width: 400px;
    height: 1200px;
     margin-left: 10px;
     img{
        margin-left: 100px
     }
}
#end{
    width: 425px;
    height: 600px;
    img{
        height: 70px;
        margin-left: 20px;
    }
    a{
        font-size: 20px;
        
    }
    #lists{
        margin-left: 150px;
    }
    #universitys{
        display: inline;
        margin-left: 150px;
        margin-top: 300px;
    }
    p{
        font-size: 20px
    }
}
#gmail{
    display: none;
}
#number{
    display: none;
}