header{
    width: 425px;
     img{
        height: 70px;
        position: absolute;
        margin-left: 30px;
        margin-top: 25px;
    }
    
}
nav{
    a{
        display: none;
    }
}
#newses{
    margin-left: 0px;
    #newsvolleyball{
        margin-top: 20px;
        display: block;
        margin-left: 0px;
        width: 385px;
        height: 300px;
        p{
            font-size: 24px;
            margin-top: 100px;
        }
        #creted{
            margin-top: 30px;
        }
    }
    #newsbuilding{
        margin-top: 20px;
        display: block;
        margin-left: 0px;
        width: 385px;
        height: 300px;
        p{
            font-size: 24px;
            margin-top: 100px;
        }
        #creted2{
            margin-top: 30px;
        }
    }
    
     
 
    #newstables{
        margin-top: 20px;
        display: block;
        margin-left: 0px;
        width: 385px;
        height: 300px;
        p{
            font-size: 24px;
            margin-top: 100px;
        }
        #creted3{
            margin-top: 30px;
        }
    }
}
#end{
    width: 425px;
    height: 600px;
    img{
        height: 70px;
        margin-left: 20px;
    }
    a{
        font-size: 20px;
        
    }
    #lists{
        margin-left: 150px;
    }
    #universitys{
        display: inline;
        margin-left: 150px;
        margin-top: 300px;
    }
    p{
        font-size: 20px
    }
}
#gmail{
    display: none;
}
#number{
    display: none;
}
i{
    display: inline-block !important;
    font-size: 50px !important;
    color: white;
    margin-top: 20px;
    margin-left: 330px;
}