header{
        width: 768px;
        img{
            position: absolute;
            margin-top: 25px;
            height: 70px;
        }
}
nav{
    display: inline;
    a{
        display: none;
    }
}
#begining{
    margin-left: 270px;
}
.info{
    margin-left: 0px;
    width: 768px;
    height:310px;
}
.portrait{
    margin-left: 250px;
    margin-top: 20px;
}
#achivments{
    margin-left: 270px;
    margin-bottom: 40px;
}
.portrait2{
    margin-left: 39px;
}
.info2{
    margin-left: 0px;
    width: 768px;
    height: 320px;
}
#gmail{
    display: none;
}
#number{
    display: none;
}
i{
    display: inline-block !important;
    font-size: 50px !important;
    color: white;
    margin-top: 20px;
    margin-left: 700px;
}