nav{
   a{
      display: none;
   }
}
header{
   width: 768px;
}
#start{
   width: 768px;
   p{
      margin-left: 200px;
   }
}
#slogan{
   margin-left: 0px;
   width: 768px;
   height: 420px;
}
h1{
   margin-left: 280px;
}
#volleyball{
   width: 600px;
   height: 200px;
   margin-left: 34px;
   p{
      font-size: 50px;
   }
}
#newbuilding{
    width: 600px;
   height: 200px;
   margin-left: 34px;
   p{
      font-size: 50px;
   }
}
#tables{
    width: 600px;
   height: 200px;
   margin-left: 34px;
   p{
      font-size: 50px;
   }
}
#partners{
   width: 768px;
   height: 200px;
   
   img{
      height: 90px;
      width: 90px;
      display: inline-block;
      margin-left: 80px;
   }
}
#end{
   width: 768px;
}
#unis{
   margin-left: 180px;
}
#gmail{
   display: none;
}
#number{
   display: none;
}
#dd{
   margin-left: 50px;
}