header{
    width: 768px;
    nav{
        a{
            display: none;
        }
    }
    img{
        height: 80px;
    }
}
#contact{
    margin-left: 0px;
    width: 768px;
    p{
        margin-left: 250px;
    }
}