header{
    width: 768px;

}
nav{
    a{
        display: none;
    }
}
#newses{
    margin-left: 0px;
    #newsvolleyball{
        margin-top: 20px;
        width: 748px;
        margin-left: 0px;
    }
    #newsbuilding{
        margin-top: 20px;
        width: 748px;
        margin-left: 0px;
    }
    #newstables{
        margin-top: 20px;
        width: 748px;
        margin-left: 0px;
    }
}
#gmail{
    display: none;
}
#number{
    display: none;
}